@import '../../../assets/style/basic';
@import '../../../assets/style/common';

.container{
   @include page-container;

  .description{
    padding: 10px 20px;
    color: $color-text-paragraph;
    line-height: 1.5;
  }
}